{% extends 'nav.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="border p-3 bg-white">
                <h3>password reset complete </h3>
                <div class="alert alert-info"></div>
                <h4> your password has been changed you can go and login now</h4>
             </div>
                <hr>
                <a class = "mx-5"href="{% url 'login' %}">login </a>

            </div>
        </div>
    </div>
</div>
{% endblock %}